spring:
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      properties:
        schema.registry.url: http://localhost:8081
    producer:
      properties:
        schema.registry.url: http://localhost:8081

logging:
  level:
    org.springframework.kafka: DEBUG
    springkafka: DEBUG